*:focus {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}


#headings {
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #45526e !important
}
/* NAV */

#navbarNavDropdown {
    justify-content: end;
}

.navbar {
    background-color: #45526e !important;
}
/* JUMBOTRON */

.jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    text-align: center;
}

#planets {
    display: flex;
    justify-content: center;
}

.planet {
    width: 30em;
    height: 30em;
    background: white;
    border-radius: 50%;
    position: relative;
    background-image: url(/Images/moon.png);
}

.satellite,
.satellite::after {
    content: "";
    position: absolute;
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

.satellite {
    background: #ffedd1;
    box-shadow: -2em 0 5em -1em white;
    overflow: hidden;
    transition: 250ms;
    left: 32em;
    transform: rotate(20deg);
    animation: round 5s infinite ease-in-out;
}

.satellite::after {
    background: #262938;
    width: 2.5em;
    left: 2.5em;
    box-shadow: 0 0 0.75em 0.95em #262938;
    animation: shadow 5s infinite ease-in-out;
}

@keyframes shadow {
    0% {
        width: 2.5em;
        left: 0;
    }

    25% {
        width: 5em;
        left: 0%;
    }

    50% {
        width: 2.5em;
        left: 2.5em;
    }

    75% {
        width: 0em;
        left: 5em;
    }

    80% {
        left: 0;
        box-shadow: 0 0 0.55em 0.75em #262938;
    }

    100% {
        width: 2.5em;
        left: 0;
    }
}

@keyframes round {

    0%,
    100% {
        top: 2em;
        left: -15em;
        box-shadow: -2em 0 5em 0.5em #c6836466;
        z-index: 2;
    }

    25% {
        box-shadow: 0 0 3em 1em #412104b5;
    }

    75% {
        box-shadow: 0 0 3em 1em black;
    }

    48% {
        z-index: 2;
    }

    50% {
        left: 40em;
        top: 20em;
        z-index: -1;
        box-shadow: 2em 0 5em 0.5em #845a4682;
    }

    99% {
        z-index: -1;
    }
}

.planet h1 {
    padding-top: 150px;
}

/* Work */
#work .card:hover {
    transform: translate(0, -10px);
    background-color: black !important;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.code {

    white-space: pre-wrap;
    font-size: 0.875rem;
    font-style: italic;
    color: pink;
}

#text {
    color: limegreen;
}

#plain {
    font-style: normal;
    color: white;
}

/* FOOTER */


.links:hover {
    text-decoration: none;
}
